future==0.18.2
numpy==1.18.2
opencv-contrib-python==4.1.0.25
opencv-python==4.1.1.26
Pillow==8.1.1
pkg-resources==0.0.0
PyYAML==5.3.1
six==1.14.0
torch-1.6.0a0+a0dc36e-cp37-cp37m-linux_armv7l.whl
torchvision==0.2.2.post3
