# Our custom PIP index. Includes PyTorch and NumPy wheels for AArch64.
--pre --extra-index-url https://anivegesana.github.io/wheels/rpi
# -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html (cuda)
# -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html (x86/amd)


# opencv 4.2.0 preinstalled on the Pi (do not add)


# Replace the following lines with a local file name
# (ex. torch-1.6.0a0+503be4e-cp38-cp38-linux_aarch64.whl)
# to use a local wheel of PyTorch. See fb_sol_v1 for the general structure.
torch==1.6.*
numpy==1.22.0
